---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Offer from "../components/Offer.astro";
import Social from "../components/Social.astro";
---

<Layout title="Imprenta Majestic">
  <main>
    <header class="w-full py-8">
      <Navbar />
    </header>
    <body>
      <div class="lg:my-20 my-4 lg:py-4">
        <Hero />
      </div>
      <div class="lg:my-10 my-8 lg:py-4">
        <Offer />
      </div>
      <div class="lg:my-10 my-8 lg:py-4">
        <Social />
      </div>
    </body>
    <footer></footer>
  </main>
</Layout>
