---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Majestic">
  <main>
    <header class="w-full py-8">
      <Navbar />
    </header>
    <body>
      <div class="my-40 py-4">
        <Hero />
      </div>
    </body>
  </main>
</Layout>
