---
const { text, link, style } = Astro.props;
---

<button>
  <a
    class={`flex gap-2 items-center justify-center ${style}`}
    href={link}
    target="_blank"
  >
    <img src="/images/whatsapp.svg" />
    {text}
  </a>
</button>
