---
const { text, route } = Astro.props;
---

<div class="rounded-2xl relative">
  <img src={route} class="rounded-3xl" />
  <span
    class="rounded-lg text-[#404040] font-bold absolute bottom-4 left-4 bg-white px-4 py-1"
    >{text}</span
  >
</div>
