---
import Button from "./Button.astro";
import { styles, text, links } from "../utils/constants";
---

<nav class="grid grid-cols-2 w-full px-56">
  <div class="col-span-1">
    <img src="/images/logof.svg" class="w-[191px] h-[56px]" />
  </div>
  <div class="col-span-1">
    <ul class="flex items-center justify-between">
      {
        text.navbar.map((item) => (
          <li class="font-medium text-lg">{item.text}</li>
        ))
      }
      <Button
        style={styles.whatsapp}
        text={text.contact}
        link={links.whatsapp}
      />
    </ul>
  </div>
</nav>
