---
import Button from "./Button.astro";
import { styles, text, links } from "../utils/constants";
---

<nav class="grid grid-cols-2 w-full lg:px-56 px-5">
  <div class="col-span-1">
    <img src="/images/logof.svg" class="lg:w-[191px] lg:h-[56px] w-[150px]" />
  </div>
  <div class="lg:block hidden col-span-1">
    <ul class="flex items-center justify-between">
      {
        text.navbar.map((item) => (
          <li class="font-medium text-lg">{item.text}</li>
        ))
      }
      <Button
        style={styles.whatsapp}
        text={text.contact}
        link={links.whatsapp}
      />
    </ul>
  </div>
</nav>
