---
import { styles } from "../utils/constants";
import Title from "./text/Title.astro";
---

<div class="lg:px-96 px-12">
  <div class="w-full lg:py-10 py-5 bg-white drop-shadow-out rounded-xl">
    <Title style={styles.socialText}>Síguenos en nuestras redes sociales</Title>
    <div class="flex justify-center gap-5 mt-5">
      <a href="https://www.facebook.com/imprenta.majestic" target="_blank">
        <img class="h-9 w-9" src="/images/facebook .svg" />
      </a>
      <img class="h-9 w-9" src="/images/Instagram.svg" />
    </div>
  </div>
</div>
